/*
 * -------------------------------------------------
 *  Nextflow example configuration for Singularity
 * -------------------------------------------------
 */

params {
  max_cpus = 24
  max_memory = 256.GB
  max_time = 72.h
  container_version = '1.1.0'

  // Tool versions
  arriba_version = '1.1.0'
  ericscript_version = '0.5.5'
  fusioncatcher_version = '1.20'
  fusion_inspector_version = '1.3.1-star2.7.0f'
  pizzly_version = '0.37.3'
  squid_version = '1.5-star2.7.0f'
  star_fusion_version = '1.6.0'

  // Extra parameters for fusion tools
  arriba_opt = ''
  fusioncatcher_opt = ''
  fusion_report_opt = ''
  star_fusion_opt = ''

  // References
  reference_base = '/path/to/references'
  fasta = "${params.reference_base}/Homo_sapiens.GRCh38_r97.all.fa
  gtf = "${params.reference_base}/Homo_sapiens.GRCh38_r97.gtf
  transcript = "${params.reference_base}/Homo_sapiens.GRCh38_r97.cdna.all.fa.gz"
  databases = "${params.reference_base}/1.1.0/databases"

  // Fusion tools
  arriba_ref = "${params.reference_base}/arriba"
  ericscript_ref = "${params.reference_base}/ericscript/ericscript_db_homosapiens_ensembl84"
  fusioncatcher_ref = "${params.reference_base}/fusioncatcher/human_v98"
  star_fusion_ref = "${params.reference_base}/star-fusion/ctat_genome_lib_build_dir"
}

process {
  container = "${params.containerPath}/rnafusion_1.1.0.img"

  withName: "arriba|arriba_visualization" {
    container = "${params.containerPath}/rnafusion_arriba_v${params.arriba_version}.img"
  }
  withName: "star_fusion|download_star_fusion" {
    container = "${params.containerPath}/rnafusion_star-fusion_v${params.star_fusion_version}.img"
  }
  withName:fusioncatcher {
    container = "${params.containerPath}/rnafusion_fusioncatcher_v${params.fusioncatcher_version}.img"
  }
  withName:fusion_inspector {
    container = "${params.containerPath}/rnafusion_fusion-inspector_v${params.fusion_inspector_version}.img"
  }
  withName:ericscript {
    container = "${params.containerPathCommon}/rnafusion_ericscript_v${params.ericscript_version}.img"
  }
  withName:pizzly {
    container = "${params.containerPathCommon}/rnafusion_pizzly_v${params.pizzly_version}.img"
  }
  withName:squid {
    container = "${params.containerPath}/rnafusion_squid_v${params.squid_version}.img"
  }
}
