/*
 * -------------------------------------------------
 *  nf-core/rnafusion Nextflow config file
 * -------------------------------------------------
 * Default config options for all environments.
 * Cluster-specific config options should be saved
 * in the conf folder and imported under a profile
 * name here.
 */

// Global default params, used in configs
params {
  container = 'nfcore/rnafusion:1.0' // Container slug. Stable releases should specify release tag!
  container_version = '1.0'
  
  // Pipeline params
  params.star_fusion = false
  params.fusioncatcher = false
  params.fc_extra_options = ''
  params.fusion_inspector = false
  params.ericscript = false
  params.pizzly = false
  params.pizzly_k = 31
  params.squid = false

  // Defaults
  help = false
  reads = "data/*{1,2}.fastq.gz"
  singleEnd = false
  outdir = './results'
  igenomes_base = "./iGenomes"
  tracedir = "${params.outdir}/pipeline_info"
  clusterOptions = false
  awsqueue = false
  awsregion = 'eu-west-1'
  readPaths = null
}

profiles {

  standard {
    includeConfig 'conf/base.config'
  }
  conda { process.conda = "$baseDir/environment.yml" }
  docker {
    includeConfig 'conf/docker.config'
  }
  singularity {
    includeConfig 'conf/singularity.config'
  }
  awsbatch {
    includeConfig 'conf/base.config'
    includeConfig 'conf/awsbatch.config'
    includeConfig 'conf/igenomes.config'
  }
  test {
    includeConfig 'conf/base.config'
    includeConfig 'conf/test.config'
    includeConfig 'conf/igenomes.config'
  }
  none {
    // Don't load any config (for use with custom home configs)
  }
  uppmax {
    includeConfig 'conf/base.config'
    includeConfig 'conf/uppmax.config'
    includeConfig 'conf/igenomes.config'
  }
  uppmax_devel {
    includeConfig 'conf/base.config'
    includeConfig 'conf/uppmax.config'
    includeConfig 'conf/uppmax-devel.config'
    includeConfig 'conf/igenomes.config'
  }
  munin {
    includeConfig 'conf/base.config'
    includeConfig 'conf/munin.config'
    includeConfig 'conf/igenomes.config'
  }
  munin_docker {
    includeConfig 'conf/base.config'
    includeConfig 'conf/munin.config'
    includeConfig 'conf/munin-docker.config'
    includeConfig 'conf/igenomes.config'
  }
  munin_singularity {
    includeConfig 'conf/base.config'
    includeConfig 'conf/munin.config'
    includeConfig 'conf/munin-singularity.config'
    includeConfig 'conf/igenomes.config'
  }
}

// Capture exit codes from upstream processes when piping
process.shell = ['/bin/bash', '-euo', 'pipefail']

timeline {
  enabled = true
  file = "${params.tracedir}/pipeline_info/nf-core/rnafusion_timeline.html"
}
report {
  enabled = true
  file = "${params.tracedir}/pipeline_info/nf-core/rnafusion_report.html"
}
trace {
  enabled = true
  file = "${params.tracedir}/pipeline_info/nf-core/rnafusion_trace.txt"
}
dag {
  enabled = true
  file = "${params.tracedir}/pipeline_info/nf-core/rnafusion_dag.svg"
}

manifest {
  name = 'nf-core/rnafusion'
  description = 'Attempt at setting up a pipeline for fusion detection as an addon to the previously existing NGI-RNAseq pipeline.'
  homePage = 'https://github.com/nf-core/rnafusion'
  version = '1.0'
  mainScript = 'main.nf'
  nextflowVersion = '>=0.32.0'
}

// Function to ensure that resource requirements don't go beyond
// a maximum limit
def check_max(obj, type) {
  if(type == 'memory'){
    try {
      if(obj.compareTo(params.max_memory as nextflow.util.MemoryUnit) == 1)
        return params.max_memory as nextflow.util.MemoryUnit
      else
        return obj
    } catch (all) {
      println "   ### ERROR ###   Max memory '${params.max_memory}' is not valid! Using default value: $obj"
      return obj
    }
  } else if(type == 'time'){
    try {
      if(obj.compareTo(params.max_time as nextflow.util.Duration) == 1)
        return params.max_time as nextflow.util.Duration
      else
        return obj
    } catch (all) {
      println "   ### ERROR ###   Max time '${params.max_time}' is not valid! Using default value: $obj"
      return obj
    }
  } else if(type == 'cpus'){
    try {
      return Math.min( obj, params.max_cpus as int )
    } catch (all) {
      println "   ### ERROR ###   Max cpus '${params.max_cpus}' is not valid! Using default value: $obj"
      return obj
    }
  }
}
