/*
========================================================================================
    Nextflow config file for running nf-test tests
========================================================================================
*/

params {
    modules_testdata_base_path = 'https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/'
    pipelines_testdata_base_path = 'https://raw.githubusercontent.com/nf-core/test-datasets/refs/heads/rnafusion'
}

aws.client.anonymous = true // fixes S3 access issues on self-hosted runners
// Limit and standardize resources for github actions and reproducibility
process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '4.h'
    ]

    withName: 'STARFUSION_BUILD' {
        ext.args = ''
    }
}

params {
    dfam_hmm                    = "${pipelines_testdata_base_path}/testdata/human/test_starfusion_dfam.hmm"
    dfam_h3f                    = "${pipelines_testdata_base_path}/testdata/human/test_starfusion_dfam.hmm.h3f"
    dfam_h3i                    = "${pipelines_testdata_base_path}/testdata/human/test_starfusion_dfam.hmm.h3i"
    dfam_h3m                    = "${pipelines_testdata_base_path}/testdata/human/test_starfusion_dfam.hmm.h3m"
    dfam_h3p                    = "${pipelines_testdata_base_path}/testdata/human/test_starfusion_dfam.hmm.h3p"
    pfam_file                   = "${pipelines_testdata_base_path}/testdata/human/Pfam-A.hmm.gz"
    fusioncatcher_ref           = "${projectDir}/assets"
    arriba_ref_blacklist        = "s3://nf-core-awsmegatests/rnafusion/references/GRCh38/arriba/2.5.0/blacklist_hg38_GRCh38_v2.5.0.tsv.gz"
    arriba_ref_cytobands        = "s3://nf-core-awsmegatests/rnafusion/references/GRCh38/arriba/2.5.0/cytobands_hg38_GRCh38_v2.5.0.tsv"
    arriba_ref_known_fusions    = "s3://nf-core-awsmegatests/rnafusion/references/GRCh38/arriba/2.5.0/known_fusions_hg38_GRCh38_v2.5.0.tsv.gz"
    arriba_ref_protein_domains  = "s3://nf-core-awsmegatests/rnafusion/references/GRCh38/arriba/2.5.0/protein_domains_hg38_GRCh38_v2.5.0.gff3"
}
