/*
 * -------------------------------------------------
 *  nf-core/rnafusion Nextflow base config file
 * -------------------------------------------------
 * A 'blank slate' config file, appropriate for general
 * use on most high performace compute environments.
 * Assumes that all software is installed and available
 * on the PATH. Runs in `local` mode - all jobs will be
 * run on the logged in environment.
 */

process {

  container = "${params.containerPath}/rnafusion-${params.container_version}.img"

  cpus = { check_max( 2, 'cpus' ) }
  memory = { check_max( 8.GB * task.attempt, 'memory' ) }
  time = { check_max( 2.h * task.attempt, 'time' ) }

  errorStrategy = { task.exitStatus in [143,137] ? 'retry' : 'finish' }
  maxRetries = 1
  maxErrors = '-1'

  // Process-specific resource requirements
  withName: fastqc {
    errorStrategy = { task.exitStatus in [143,137] ? 'retry' : 'ignore' }
  }
  withName: multiqc {
    errorStrategy = { task.exitStatus in [143,137] ? 'retry' : 'ignore' }
  }
  withName:star_fusion {
    cpus = { check_max (16, 'cpus')}
    memory = { check_max( 60.GB * task.attempt, 'memory' ) }
    time = { check_max( 4.h * task.attempt, 'time' ) }
    container = "${params.containerPath}/rnafusion:star-fusion_v${params.container_version}.img"

  }
  withName:fusioncatcher {
    cpus = { check_max (16, 'cpus')}
    memory = { check_max( 60.GB * task.attempt, 'memory' ) }
    time = { check_max( 12.h * task.attempt, 'time' ) }
    container = "${params.containerPath}/rnafusion:fusioncatcher_v${params.container_version}.img"
  }
  withName:fusion_inspector {
    cpus = { check_max (16, 'cpus')}
    memory = { check_max( 60.GB * task.attempt, 'memory' ) }
    time = { check_max( 12.h * task.attempt, 'time' ) }
    container = "${params.containerPath}/rnafusion:fusion-inspector_v${params.container_version}.img"
  }
  withName:ericscript {
    cpus = { check_max (16, 'cpus')}
    memory = { check_max( 60.GB * task.attempt, 'memory' ) }
    time = { check_max( 12.h * task.attempt, 'time' ) }
    container = "${params.containerPath}/rnafusion:ericscript_v${params.container_version}.img"
  }
  withName:pizzly {
    cpus = { check_max (16, 'cpus')}
    memory = { check_max( 60.GB * task.attempt, 'memory' ) }
    time = { check_max( 4.h * task.attempt, 'time' ) }
    container = "${params.containerPath}/rnafusion:pizzly_v${params.container_version}.img"
  }
  withName:squid {
    cpus = { check_max (16, 'cpus')}
    memory = { check_max( 60.GB * task.attempt, 'memory' ) }
    time = { check_max( 4.h * task.attempt, 'time' ) }
    container = "${params.containerPath}/rnafusion:squid_v${params.container_version}.img"
  }
  withName:summary {
    container = "${params.containerPath}/rnafusion:summary-report_v${params.container_version}.img"
  }
}

params {
  // Defaults only, expecting to be overwritten
  max_memory = 128.GB
  max_cpus = 16
  max_time = 240.h
  igenomes_base = 's3://ngi-igenomes/igenomes/'
}
