/*
vim: syntax=groovy
-*- mode: groovy;-*-
 * -------------------------------------------------
 *  Nextflow config file for use with Docker
 * -------------------------------------------------
 * Defines basic usage limits and docker image id.
 * Imported under the default 'docker' Nextflow
 * profile in nextflow.config
 * NOTE: Not suitable for production use, assumes
 * compute limits of only 16GB memory and 1 CPU core.
 */

docker {
  enabled = true
}

process {
  container = 'nfcore/rnafusion:dev'

  withName:star_fusion {
    container = 'nfcore/rnafusion:star-fusion_v1.4.0'
  }
  withName:fusioncatcher {
    container = 'nfcore/rnafusion:fusioncatcher_v1.00'
  }
  withName:fusion_inspector {
    container = 'nfcore/rnafusion:fusion-inspector_v1.3.1'
  }
}

