/*
 * -------------------------------------------------
 *  Nextflow config file for reference genome
 * -------------------------------------------------
 * Defines reference genomes, without using iGenome paths
 * Can be used by any config that customizes the base
 * path using $params.genomes_base / --genomes_base
 */

params {
    genomes {
        'GRCh38' {
            fasta               = "${params.genomes_base}/Homo_sapiens.GRCh38_r${params.reference_release}.all.fa"
            gtf                 = "${params.genomes_base}/Homo_sapiens.GRCh38_r${params.reference_release}.gtf"
            transcript          = "${params.genomes_base}/Homo_sapiens.GRCh38_r${params.reference_release}.cdna.all.fa.gz"
            databases           = "${params.genomes_base}/databases"
            arriba_ref          = "${params.genomes_base}/arriba"
            ericscript_ref      = "${params.genomes_base}/ericscript/ericscript_db_homosapiens_ensembl84"
            fusioncatcher_ref   = "${params.genomes_base}/fusioncatcher/human_v98"
            star_fusion_ref     = "${params.genomes_base}/star-fusion/ctat_genome_lib_build_dir"
        }
    }
}