/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for Rnafusion reference paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines reference genomes using paths.
    Can be used by any config that customises the base path using:
        $params.genomes_base / --genomes_base
----------------------------------------------------------------------------------------
*/

params {
    // rnafusion reference file paths
    genomes {
        'GRCh38' {
            fasta                       = "${params.genomes_base}/GRCh38/gencode_v${params.genome_gencode_version}/gencode/Homo_sapiens_GRCh38_${params.genome_gencode_version}_dna_primary_assembly.fa"
            fai                         = "${params.genomes_base}/GRCh38/gencode_v${params.genome_gencode_version}/gencode/Homo_sapiens_GRCh38_${params.genome_gencode_version}_dna_primary_assembly.fa.fai"
            gtf                         = "${params.genomes_base}/GRCh38/gencode_v${params.genome_gencode_version}/gencode/Homo_sapiens_GRCh38_${params.genome_gencode_version}.gtf"
            refflat                     = "${params.genomes_base}/GRCh38/gencode_v${params.genome_gencode_version}/gencode/Homo_sapiens_GRCh38_${params.genome_gencode_version}.gtf.refflat"
            rrna_intervals              = "${params.genomes_base}/GRCh38/gencode_v${params.genome_gencode_version}/gencode/Homo_sapiens_GRCh38_${params.genome_gencode_version}.gtf.interval_list"
            arriba_ref_blacklist        = "${params.genomes_base}/GRCh38/arriba/2.5.0/blacklist_hg38_GRCh38_v2.5.0.tsv.gz"
            arriba_ref_cytobands        = "${params.genomes_base}/GRCh38/arriba/2.5.0/cytobands_hg38_GRCh38_v2.5.0.tsv"
            arriba_ref_known_fusions    = "${params.genomes_base}/GRCh38/arriba/2.5.0/known_fusions_hg38_GRCh38_v2.5.0.tsv.gz"
            arriba_ref_protein_domains  = "${params.genomes_base}/GRCh38/arriba/2.5.0/protein_domains_hg38_GRCh38_v2.5.0.gff3"
            fusioncatcher_ref           = "${params.genomes_base}/GRCh38/gencode_v${params.genome_gencode_version}/fusioncatcher/"
            hgnc_ref                    = "${params.genomes_base}/GRCh38/hgnc/hgnc_complete_set.txt"
            hgnc_date                   = "${params.genomes_base}/GRCh38/hgnc/HGNC-DB-timestamp.txt"
            salmon_index                = "${params.genomes_base}/GRCh38/gencode_v${params.genome_gencode_version}/salmon"
            starfusion_ref              = "${params.genomes_base}/GRCh38/gencode_v${params.genome_gencode_version}/starfusion/ctat_genome_lib_build_dir"
            starindex_ref               = "${params.genomes_base}/GRCh38/gencode_v${params.genome_gencode_version}/star"
            fusionreport_ref            = "${params.genomes_base}/GRCh38/fusion_report_db"
        }
    }
}
