/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Testing profile for checking just the syntax
 * of the pipeline. To run use:
 *   nextflow run nf-core/rnafusion -profile jenkins
 */

executor {
  name = 'local'
}

params {
  reads = '/share-data/testing/rnafusion/reads_{1,2}.fq.gz'
  genome = 'GRCh38'
  star_fusion = true
  fusioncatcher = true
  ericscript = true
  pizzly = true
  squid = true
  fusion_inspector = true
}