/*
========================================================================================
    Config file for defining DSL2 per module options
========================================================================================
    Available keys to override module options:
        args            = Additional arguments appended to command in module.
        args2           = Second set of arguments appended to command in module (multi-tool modules).
        args3           = Third set of arguments appended to command in module (multi-tool modules).
        publish_dir     = Directory to publish results.
        publish_by_meta = Groovy list of keys available in meta map to append as directories to "publish_dir" path
                            If publish_by_meta = true                 - Value of ${meta['id']} is appended as a directory to "publish_dir" path
                            If publish_by_meta = ['id', 'custompath'] - If "id" is in meta map and "custompath" isn't then "${meta['id']}/custompath/"
                                                                        is appended as a directory to "publish_dir" path
                            If publish_by_meta = false / null         - No directories are appended to "publish_dir" path
        publish_files   = Groovy map where key = "file_ext" and value = "directory" to publish results for that file extension
                            The value of "directory" is appended to the standard "publish_dir" path as defined above.
                            If publish_files = null (unspecified)     - All files are published.
                            If publish_files = false                  - No files are published.
        suffix          = File name suffix for output files.
----------------------------------------------------------------------------------------
*/

params {
    modules {
        'fastqc' {
            args                = "--quiet"
        }
        'multiqc' {
            args                = ""
        }
        'arriba' {
            args                = "--outFilterMultimapNmax 50 --peOverlapNbasesMin 10 --alignSplicedMateMapLminOverLmate 0.5 --alignSJstitchMismatchNmax 5 -1 5 5 --chimSegmentMin 10 --chimOutType WithinBAM HardClip --chimJunctionOverhangMin 10 --chimScoreDropMax 30 --chimScoreJunctionNonGTAG 0 --chimScoreSeparation 1 --chimSegmentReadGapMax 3 --chimMultimapNmax 50"
            args2               = "-b references/${params.genome}/arriba/blacklist_hg38_GRCh38_v2.1.0.tsv.gz -k references/${params.genome}/arriba/known_fusions_hg38_GRCh38_v2.1.0.tsv.gz -p references/${params.genome}/arriba/protein_domains_hg38_GRCh38_v2.1.0.gff3"
        }
        'arriba_download' {
            args                = ""
            publish_dir         = "references/${params.genome}/arriba"
        }
        'ensembl_download' {
            args                = ""
            publish_dir         = "references/${params.genome}"
        }
        'ericscript' {
            args                = ""
        }
        'ericscript_download' {
            args                = ""
            publish_dir         = "references/${params.genome}/ericscript"
        }
        'fusioncatcher' {
            args                = ""
        }
        'fusioncatcher_download' {
            args                = ""
            publish_dir         = "references/${params.genome}/fusioncatcher"
        }
        'pizzly' {
            args                = "-k 31 --align-score 2 --insert-size 400 --cache index.cache.txt"
        }
        'pizzly_download' {
            args                = "-k 31"
            publish_dir         = "references/${params.genome}/pizzly"
        }
        'star_index' {
            args                = ""
            publish_dir         = "references/${params.genome}/STARIndex"
        }
        'starfusion' {
            args                = "--chimSegmentMin 12 --chimJunctionOverhangMin 8 --chimOutJunctionFormat 1 --alignSJDBoverhangMin 10 --alignMatesGapMax 100000 --alignIntronMax 100000 --alignSJstitchMismatchNmax 5 -1 5 5 --outSAMattrRGline ID:GRPundef --chimMultimapScoreRange 3 --chimScoreJunctionNonGTAG -4 --chimMultimapNmax 20 --chimNonchimScoreDropMin 10 --peOverlapNbasesMin 12 --peOverlapMMp 0.1 --alignInsertionFlush Right --alignSplicedMateMapLminOverLmate 0 --alignSplicedMateMapLmin 30"
            args2               = "--examine_coding_effect -J Chimeric.out.junction"
        }
        'starfusion_download' {
            args                = ""
            publish_dir         = "references/${params.genome}/starfusion"
        }
    }
}
