/*
 * -------------------------------------------------
 *  Nextflow config file for Munin Docker
 *  https://github.com/nextflow-io/nextflow/issues/572
 * -------------------------------------------------
 */

docker {
  enabled = true
  mountFlags = 'z'
  fixOwnership = true
}

params {
  max_memory = 256.GB
  max_cpus = 24
  max_time = 72.h
  reference_base = '/data0/btb/references/rnafusion'
  
  fusioncatcher_ref = "${params.reference_base}/fusioncatcher_ref/human_v90"
  star_fusion_ref = "${params.reference_base}/star_fusion_ref/GRCh38_v27_CTAT_lib_Feb092018/ctat_genome_lib_build_dir"
  ericscript_ref = "${params.reference_base}/ericscript_ref/ericscript_db_homosapiens_ensembl84"
  pizzly_ref = "${params.reference_base}/pizzly_ref"
}

process {
  withName:star_fusion {
    cpus = { check_max (24, 'cpus')}
  }
  withName:fusioncatcher {
    cpus = { check_max (24, 'cpus')}
  }
  withName:fusion_inspector {
    cpus = { check_max (24, 'cpus')}
  }
  withName:ericscript {
    cpus = { check_max (24, 'cpus')}
  }
  withName:pizzly {
    cpus = { check_max (24, 'cpus')}
  }
  withName:squid {
    cpus = { check_max (24, 'cpus')}
  }
}