/*
 * -------------------------------------------------
 *  Nextflow config file for Munin Docker
 *  https://github.com/nextflow-io/nextflow/issues/572
 * -------------------------------------------------
 */

docker {
  enabled = true
  mountFlags = 'z'
  fixOwnership = true
}

process {
  withName:star_fusion {
    container = "nfcore/rnafusion:star-fusion_v${params.container_version}"
  }
  withName:fusioncatcher {
    container = "nfcore/rnafusion:fusioncatcher_v${params.container_version}"
  }
  withName:fusion_inspector {
    container = "nfcore/rnafusion:fusion-inspector_v${params.container_version}"
  }
  withName:ericscript {
    container = "nfcore/rnafusion:ericscript_v${params.container_version}"
  }
  withName:pizzly {
    container = "nfcore/rnafusion:pizzly_v${params.container_version}"
  }
  withName:squid {
    container = "nfcore/rnafusion:squid_v${params.container_version}"
  }
  withName:summary {
    container = "nfcore/rnafusion:summary-report_v${params.container_version}"
  }
}