/*
 * -------------------------------------------------
 *  Nextflow config file for Munin Singularity
 * -------------------------------------------------
 */

params {
  max_cpus = 24
  max_memory = 256.GB
  max_time = 72.h
  reference_base = '/data0/btb/references/rnafusion'
  containerPath = "file:///data0/btb/containers/rnafusion_containers_v${params.container_version}"
  
  fusioncatcher_ref = "${params.reference_base}/fusioncatcher_ref/human_v90"
  star_fusion_ref = "${params.reference_base}/star_fusion_ref/GRCh38_v27_CTAT_lib_Feb092018/ctat_genome_lib_build_dir"
  ericscript_ref = "${params.reference_base}/ericscript_ref/ericscript_db_homosapiens_ensembl84"
  pizzly_fasta = "${params.reference_base}/pizzly_ref/Homo_sapiens.GRCh38.cdna.all.fa.gz"
  pizzly_gtf = "${params.reference_base}/pizzly_ref/Homo_sapiens.GRCh38.94.gtf"
}

process {
  
  container = "${params.containerPath}/rnafusion_v${params.container_version}.img"

  withName:star_fusion {
    container = "${params.containerPath}/rnafusion_star-fusion_v${params.container_version}.img"
  }
  withName:fusioncatcher {
    container = "${params.containerPath}/rnafusion_fusioncatcher_v${params.container_version}.img"
  }
  withName:fusion_inspector {
    container = "${params.containerPath}/rnafusion_fusion-inspector_v${params.container_version}.img"
  }
  withName:ericscript {
    container = "${params.containerPath}/rnafusion_ericscript_v${params.container_version}.img"
  }
  withName:pizzly {
    container = "${params.containerPath}/rnafusion_pizzly_v${params.container_version}.img"
  }
  withName:squid {
    container = "${params.containerPath}/rnafusion_squid_v${params.container_version}.img"
  }
  withName:summary {
    container = "${params.containerPath}/rnafusion_summary-report_v${params.container_version}.img"
  }
}
