/*
 * -------------------------------------------------
 *  Nextflow config file for Munin Singularity
 * -------------------------------------------------
 */

singularity {
  enabled = true
  autoMounts = true
}

process {
  
  container = "${params.containerPath}/rnafusion_dev.img"

  withName:star_fusion {
    container = "${params.containerPath}/rnafusion_star-fusion_v1.0dev.img"
  }
  withName:fusioncatcher {
    container = "${params.containerPath}/rnafusion_fusioncatcher_v1.0dev.img"
  }
  withName:fusion_inspector {
    container = "${params.containerPath}/rnafusion_fusion-inspector_v1.0dev.img"
  }
  withName:ericscript {
    container = "${params.containerPath}/rnafusion_ericscript_v1.0dev.img"
  }
  withName:pizzly {
    container = "${params.containerPath}/rnafusion_pizzly_v1.0dev.img"
  }
  withName:squid {
    container = "${params.containerPath}/rnafusion_squid_v1.0dev.img"
  }
  withName:summary {
    container = "${params.containerPath}/rnafusion_summary-report_v1.0dev.img"
  }
}