/*
 * -------------------------------------------------
 *  Nextflow config file for Munin Singularity
 * -------------------------------------------------
 */

singularity {
  enabled = true
  autoMounts = true
}

process {
  
  container = "${params.containerPath}/rnafusion-${params.container_version}.img"

  withName:star_fusion {
    container = "${params.containerPath}/rnafusion_star-fusion_v${params.container_version}.img"
  }
  withName:fusioncatcher {
    container = "${params.containerPath}/rnafusion_fusioncatcher_v${params.container_version}.img"
  }
  withName:fusion_inspector {
    container = "${params.containerPath}/rnafusion_fusion-inspector_v${params.container_version}.img"
  }
  withName:ericscript {
    container = "${params.containerPath}/rnafusion_ericscript_v${params.container_version}.img"
  }
  withName:pizzly {
    container = "${params.containerPath}/rnafusion_pizzly_v${params.container_version}.img"
  }
  withName:squid {
    container = "${params.containerPath}/rnafusion_squid_v${params.container_version}.img"
  }
  withName:summary {
    container = "${params.containerPath}/rnafusion_summary-report_v${params.container_version}.img"
  }
}