/*
 * -------------------------------------------------
 *  Nextflow config file for Munin
 * -------------------------------------------------
 */

process {
  executor = 'local'
}

params {
  saveReference = true
  max_memory = 128.GB
  max_cpus = 16
  max_time = 72.h
  // illumina iGenomes reference file paths on MUNIN
  igenomes_base = '/data0/btb/references/igenomes/'
  reference_base = '/data0/btb/references/rnafusion'
  containerPath = "file:///data0/btb/containers"
  
  fusioncatcher_ref = "${params.reference_base}/fusioncatcher_ref/human_v90"
  star_fusion_ref = "${params.reference_base}/star_fusion_ref/GRCh38_v27_CTAT_lib_Feb092018/ctat_genome_lib_build_dir"
  ericscript_ref = "${params.reference_base}/ericscript_ref/ericscript_db_homosapiens_ensembl84"
  pizzly_ref = "${params.reference_base}/pizzly_ref"
}