/*
vim: syntax=groovy
-*- mode: groovy;-*-
 * -------------------------------------------------
 *  Nextflow config file for use with Docker
 * -------------------------------------------------
 * Defines basic usage limits and docker image id.
 * Imported under the default 'docker' Nextflow
 * profile in nextflow.config
 * NOTE: Not suitable for production use, assumes
 * compute limits of only 16GB memory and 1 CPU core.
 */

singularity {
  enabled = true
}

process {
  container = 'file:///home/matq007/private/NGI-RNAfusion/ngi-rna-fusion.simg'
}

params {
    fusioncatcer_data = '/sw/apps/bioinfo/FusionCatcher/1.00/data/human_v90'
    star_fusion_reference  = '/proj/sllstore2017079/nobackup/private/martin/STAR_ref/ctat_genome_lib_build_dir'
    fusioncatcher_data_dir= '/sw/apps/bioinfo/FusionCatcher/1.00/data/human_v90'
}