process {
  container = "${params.images_path}/rnafusion_v${workflow.manifest.version}.img"

  withName: "arriba|arriba_visualization" {
    container = "${params.images_path}/rnafusion_arriba_v${params.versions.arriba}.img"
  }
  withName: "star_fusion|download_star_fusion" {
    container = "${params.images_path}/rnafusion_star-fusion_v${params.versions.star_fusion}.img"
  }
  withName:fusioncatcher {
    container = "${params.images_path}/rnafusion_fusioncatcher_v${params.versions.fusioncatcher}.img"
  }
  withName:fusion_inspector {
    container = "${params.images_path}/rnafusion_fusion-inspector_v${params.versions.fusion_inspector}.img"
  }
  withName:ericscript {
    container = "${params.images_path}/rnafusion_ericscript_v${params.versions.ericscript}.img"
  }
  withName:pizzly {
    container = "${params.images_path}/rnafusion_pizzly_v${params.versions.pizzly}.img"
  }
  withName:squid {
    container = "${params.images_path}/rnafusion_squid_v${params.versions.squid}.img"
  }
}