/*
vim: syntax=groovy
-*- mode: groovy;-*-
 * -------------------------------------------------
 *  Nextflow config file for use with Docker
 * -------------------------------------------------
 * Defines basic usage limits and docker image id.
 * Imported under the default 'docker' Nextflow
 * profile in nextflow.config
 * NOTE: Not suitable for production use, assumes
 * compute limits of only 16GB memory and 1 CPU core.
 */

singularity {
  enabled = true
}

process {
  withName:star_fusion {
    container = "nfcore/rnafusion:star-fusion_v${params.container_version}"
  }
  withName:fusioncatcher {
    container = "nfcore/rnafusion:fusioncatcher_v${params.container_version}"
  }
  withName:fusion_inspector {
    container = "nfcore/rnafusion:fusion-inspector_v${params.container_version}"
  }
  withName:ericscript {
    container = "nfcore/rnafusion:ericscript_v${params.container_version}"
  }
  withName:pizzly {
    container = "nfcore/rnafusion:pizzly_v${params.container_version}"
  }
  withName:squid {
    container = "nfcore/rnafusion:squid_v${params.container_version}"
  }
  withName:summary {
    container = "nfcore/rnafusion:summary-report_v${params.container_version}"
  }
}
