/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/rnafusion -profile test_build,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
Uses a minimal fasta and gtf for testing purposes.
This test is designed to test the `build_references` subworkflow with the following processes on:
- SAMTOOLS_FAIDX
- HGNC_DOWNLOAD
- GATK4_CREATESEQUENCEDICTIONARY
- BIOAWK
- AGAT_CONVERTGFF2BED
- GATK4_BEDTOINTERVALLIST
- GTF_TO_REFFLAT
- GFFREAD
- STAR_GENOMEGENERATE
- STARFUSION_BUILD
- FUSIONREPORT_DOWNLOAD

It does not test the following processes of the `build_references` subworkflow:
- GENCODE_DOWNLOAD
- FUSIONCATCHER_BUILD

It does not test the main rnafusion subworkflows by setting references_only = true.
*/

params {
    config_profile_name        = 'Test build references profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Input data
    references_only            = true
    input                      = "${projectDir}/tests/csv/fastq.csv"
    genomes_base               = "${params.outdir}/references"
    no_cosmic                  = true
    tools                      = "arriba,starfusion,fusionreport,salmon,fusioninspector"
    fasta                      = 'https://github.com/STAR-Fusion/STAR-Fusion-Tutorial/raw/master/minigenome.fa'
    gtf                        = 'https://github.com/STAR-Fusion/STAR-Fusion-Tutorial/raw/master/minigenome.gtf'

    fusion_annot_lib           = 'https://github.com/STAR-Fusion/STAR-Fusion-Tutorial/raw/master/CTAT_HumanFusionLib.mini.dat.gz'
    species                    = 'homo_sapiens'
    dfam_version               = 3.4
    pfam_version               = 37.4
    dfam_hmm                   = "https://github.com/nf-core/test-datasets/raw/refs/heads/rnafusion/testdata/human/test_starfusion_dfam.hmm"
    dfam_h3f                   = "https://github.com/nf-core/test-datasets/raw/refs/heads/rnafusion/testdata/human/test_starfusion_dfam.hmm.h3f"
    dfam_h3i                   = "https://github.com/nf-core/test-datasets/raw/refs/heads/rnafusion/testdata/human/test_starfusion_dfam.hmm.h3i"
    dfam_h3m                   = "https://github.com/nf-core/test-datasets/raw/refs/heads/rnafusion/testdata/human/test_starfusion_dfam.hmm.h3m"
    dfam_h3p                   = "https://github.com/nf-core/test-datasets/raw/refs/heads/rnafusion/testdata/human/test_starfusion_dfam.hmm.h3p"
    pfam_file                  = "https://github.com/nf-core/test-datasets/raw/refs/heads/rnafusion/testdata/human/Pfam-A.hmm.gz"
    arriba_ref_protein_domains = "https://github.com/nf-core/test-datasets/raw/refs/heads/rnafusion/testdata/reference/arriba/protein_domains_hg38_GRCh38_v2.5.0.gff3"
    arriba_ref_known_fusions   = "https://github.com/nf-core/test-datasets/raw/refs/heads/rnafusion/testdata/reference/arriba/known_fusions_hg38_GRCh38_v2.5.0.tsv.gz"
    arriba_ref_blacklist       = "https://github.com/nf-core/test-datasets/raw/refs/heads/rnafusion/testdata/reference/arriba/blacklist_hg38_GRCh38_v2.5.0.tsv.gz"
    arriba_ref_cytobands       = "https://github.com/nf-core/test-datasets/raw/refs/heads/rnafusion/testdata/reference/arriba/cytobands_hg38_GRCh38_v2.5.0.tsv"

}

// Limit and standardize resources for github actions and reproducibility
process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '1.h'
    ]
}
