/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Testing profile for checking just the syntax
 * of the pipeline. To run use:
 *   nextflow run nf-core/rnafusion -profile test
 */

executor {
  name = 'local'
}

params {
  max_cpus = 2
  max_memory = 6.GB
  max_time = 48.h
  // Input data
  test = true
  reads = 'tests/reads_{1,2}.fq.gz'
  // Genome references
  fasta = 'tests/genome.fa'
  gtf = 'tests/genes.gtf'
  star_index = 'tests/star_index'
}