/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running full-size tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a full size pipeline test.

    Use as follows:
        nextflow run nf-core/rnafusion -profile test_full_build,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Full build test profile'
    config_profile_description = 'Full build test dataset to check pipeline function'


    // Input data
    genome                 = 'GRCh38'
    build_references       = true
    all                    = true
    genomes_base           = "${params.outdir}/references"
    cosmic_username        = "${{ secrets.cosmic_username }}"
    cosmic_passwd          = "${{ secrets.cosmic_passwd }}"
}
