/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run nf-core/rnafusion -profile test
 */
// https://www.ebi.ac.uk/ena/data/view/SRX3242046

executor {
  name = 'local'
}

docker {
  enabled = true
}

process {
  container = 'mproksik/rnafusion:dev'
}

params {
  max_cpus = 2
  max_memory = 6.GB
  max_time = 48.h
  // Input data
  singleEnd = false
  star_fusion_ref  = '/data/ctat_genome_lib_build_dir'
}