/*
 * -------------------------------------------------
 *  Nextflow config file for UPPMAX (milou / irma)
 * -------------------------------------------------
 * To be applied after main UPPMAX config, overwrites config and
 * submits jobs to the `devcore` queue, which has much faster
 * queue times. All jobs are limited to 1 hour to be eligible
 * for this queue and only one job allowed at a time.
 */

executor {
  name = 'slurm'
  queueSize = 1
}

params {
  // Max resources to be requested by a devel job
  max_memory = 120.GB
  max_cpus = 16
  max_time = 1.h
  containerPath = "file://${params.project_base}/pipeline_images"
}

process {
  queue = 'devel'
  container = "${params.containerPath}/rnafusion-dev.simg"

  withName:star_fusion {
    container = "${params.containerPath}/rnafusion-star-fusion_v1.0dev.simg"
  }
  withName:fusioncatcher {
    container = "${params.containerPath}/rnafusion-fusioncatcher_v1.0dev.simg"
  }
  withName:fusion_inspector {
    container = "${params.containerPath}/rnafusion-fusion-inspector_v1.0dev.simg"
  }
  withName:ericscript {
    container = "${params.containerPath}/rnafusion-ericscript_v1.0dev.simg"
  }
  withName:pizzly {
    container = "${params.containerPath}/rnafusion-pizzly_v1.0dev.simg"
  }
  withName:squid {
    container = "${params.containerPath}/rnafusion-squid_v1.0dev.simg"
  }
}