/*
vim: syntax=groovy
-*- mode: groovy;-*-
 * -------------------------------------------------
 *  Nextflow config file for UPPMAX (milou / irma)
 * -------------------------------------------------
 * Defines reference files 
 * Imported under the default 'standard' Nextflow
 * profile in nextflow.config
 */

process {
  executor = 'local'
  cpus = { 1 * task.attempt }
  memory = { 8.GB * task.attempt }
  time = { 2.h * task.attempt }
  clusterOptions = { "-A $params.project ${params.clusterOptions ?: ''}" }
  errorStrategy = { task.exitStatus == 143 ? 'retry' : 'finish' }
  maxRetries = 3
  maxErrors = '-1'

    $FusionCatcher{
    module = ['bioinfo-tools', 'FusionCatcher/0.99.5a']
    cpus = { 16 * task.attempt }
    memory = { 32.GB * task.attempt }
    }
    $STAR_fusion{
    module = ['bioinfo-tools', 'star-fusion']
    cpus = { 4 * task.attempt }
    memory = { 32.GB * task.attempt }
    }

    params {
        references{
            fusioncatcer_data = '/sw/apps/bioinfo/FusionCatcher/0.99.5a/milou/data/ensembl_v83/'
            star_fusion_reference  = '/proj/b2013064/private/nobackup/rickard/STAR_fusion_refrence/GRCh37_gencode_v19_CTAT_lib_July272016_prebuilt'
            fusioncatcher_data_dir = '/sw/apps/bioinfo/FusionCatcher/0.99.5a/milou/data/current'
            }
    }
}
