/*
vim: syntax=groovy
-*- mode: groovy;-*-
 * -------------------------------------------------
 *  Nextflow config file for UPPMAX (milou / irma)
 * -------------------------------------------------
 * Defines reference files
 * Imported under the default 'standard' Nextflow
 * profile in nextflow.config
 */

$fusioncatcher.module = ['bioinfo-tools', 'FusionCatcher']
$star_fusion.module = ['bioinfo-tools', 'star-fusion']
$fusioninspector.module = ['bioinfo-tools', 'star-fusion', 'trinity/2014-07-17', 'samtools/1.5', 'htslib/1.5', 'perl_modules']

params {
    fusioncatcer_data = '/sw/apps/bioinfo/FusionCatcher/1.00/data/human_v90'
    star_fusion_reference  = '/proj/sllstore2017079/nobackup/private/martin/STAR_ref/ctat_genome_lib_build_dir'
    fusioncatcher_data_dir= '/sw/apps/bioinfo/FusionCatcher/1.00/data/human_v90'
}
