/*
vim: syntax=groovy
-*- mode: groovy;-*-
 * -------------------------------------------------
 *  Nextflow config file for UPPMAX (milou / irma)
 * -------------------------------------------------
 * Defines reference files
 * Imported under the default 'standard' Nextflow
 * profile in nextflow.config
 */

process {
  executor = 'slurm'
  clusterOptions = { "-A $params.project ${params.clusterOptions ?: ''}" }
  errorStrategy = { task.exitStatus == 143 ? 'retry' : 'finish' }
  maxRetries = 3
  maxErrors = '-1'

  $fusioncatcher{
    module = ['bioinfo-tools', 'FusionCatcher/0.99.5a']
    time = { 72.h * task.attempt }
    //cpus = { 8 * task.attempt }
    cpus = { 14 }
  }
  $star_fusion{
    module = ['bioinfo-tools', 'star-fusion']
    time = { 20.h * task.attempt }
    cpus = { 8 * task.attempt }
  }
  $fusioninspector{
    module = ['bioinfo-tools', 'star-fusion', 'trinity/2014-07-17']
    time = { 8.h * task.attempt }
    cpus = { 8 * task.attempt }
    }
}

params {
  references{
    params.fusioncatcer_data = '/sw/apps/bioinfo/FusionCatcher/0.99.5a/milou/data/ensembl_v83/'
    params.star_fusion_reference  = '/proj/b2013064/private/nobackup/rickard/STAR_fusion_refrence/GRCh37_gencode_v19_CTAT_lib_July272016_prebuilt'
    params.fusioncatcher_data_dir = '/sw/apps/bioinfo/FusionCatcher/0.99.5a/milou/data/current'
  }
}
