/*
 * -------------------------------------------------
 *  Nextflow config file for UPPMAX (milou / irma)
 * -------------------------------------------------
 * To be applied after main UPPMAX config, overwrites config and
 * submits jobs to the `devcore` queue, which has much faster
 * queue times. All jobs are limited to 1 hour to be eligible
 * for this queue and only one job allowed at a time.
 */

executor {
  name = 'slurm'
  queueSize = 1
}

params {
  // Max resources to be requested by a devel job
  max_memory = 120.GB
  max_cpus = 16
  max_time = 1.h
  containerPath = "file://${params.project_base}/pipeline_images"
}

process {
  queue = 'devel'
  container = "${params.containerPath}/rnafusion-${params.container_version}.img"

  withName:star_fusion {
    container = "${params.containerPath}/rnafusion_star-fusion_v${params.container_version}.img"
  }
  withName:fusioncatcher {
    container = "${params.containerPath}/rnafusion_fusioncatcher_v${params.container_version}.img"
  }
  withName:fusion_inspector {
    container = "${params.containerPath}/rnafusion_fusion-inspector_v${params.container_version}.img"
  }
  withName:ericscript {
    container = "${params.containerPath}/rnafusion_ericscript_v${params.container_version}.img"
  }
  withName:pizzly {
    container = "${params.containerPath}/rnafusion_pizzly_v${params.container_version}.img"
  }
  withName:squid {
    container = "${params.containerPath}/rnafusion_squid_v${params.container_version}.img"
  }
  withName:summary {
    container = "${params.containerPath}/rnafusion_summary-report_v${params.container_version}.img"
  }
}