name: nf-core CI
# This workflow runs the pipeline with the minimal test dataset to check that it completes without any syntax errors
on:
  push:
    branches:
      - dev
  pull_request:
  release:
    types: [published]
  workflow_dispatch:

env:
  NXF_ANSI_LOG: false

concurrency:
  group: "${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}"
  cancel-in-progress: true

jobs:
  test:
    name: Run pipeline with test data
    # Only run on push if this is the nf-core dev branch (merged PRs)
    if: "${{ github.event_name != 'push' || (github.event_name == 'push' && github.repository == 'nf-core/rnafusion') }}"
    runs-on: ubuntu-latest
    strategy:
      matrix:
        NXF_VER:
          - "24.04.2"
          - "latest-everything"
        trim_parameters:
          - "--fastp_trim false"
          - "--fastp_trim true"
    steps:
      - name: Check out pipeline code
        uses: actions/checkout@0ad4b8fadaa221de15dcec353f45205ec38ea70b # v4

      - name: Install Nextflow
        uses: nf-core/setup-nextflow@v2
        with:
          version: "${{ matrix.NXF_VER }}"

      - name: Disk space cleanup
        uses: jlumbroso/free-disk-space@54081f138730dfa15788a46383842cd2f914a1be # v1.3.1

      - name: Dry test build
        run: |
          nextflow run ${GITHUB_WORKSPACE} -profile test,docker -stub --build_references \
          --outdir /home/runner/work/rnafusion/rnafusion/results --all \
          --genomes_base /home/runner/work/rnafusion/rnafusion/results/references \
          --cosmic_username ${{ secrets.COSMIC_USERNAME }} --cosmic_passwd ${{ secrets.COSMIC_PASSWD }}
        if: "${{ github.base_ref == 'master' }}"

      - name: Dry test run
        run: |
          nextflow run ${GITHUB_WORKSPACE} -profile test,docker -stub \
          --outdir /home/runner/work/rnafusion/rnafusion/results --all ${{ matrix.trim_parameters }} \
          --genomes_base /home/runner/work/rnafusion/rnafusion/results/references
          if: "${{ github.base_ref == 'master' }}"
